name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
      - uses: "actions/checkout@v4"
      
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
          
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  lint:
    runs-on: "ubuntu-latest"
    name: Lint
    steps:
      - uses: "actions/checkout@v4"
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
          
      - name: Lint with ruff
        run: |
          ruff check custom_components/nmminer/
